/* common RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #141922;
    --secondary: #282828;
    --secondary-soft: #C1C1C1;
    --accent: #9AE22D;
    --dark: #000000;
    --light: #FFFFFF;
    
}

body {
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    color: #4F4F4F;
}

img {
    max-width: 100%;
}

.wrapper{
    height: 100vh;
}

#container {
    height: calc(100vh - 60px);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

[class^="col_"] {
    padding: 0.5rem;
}

/* #region COLUMN */
.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: 100%;
}

/* #endregion COLUMN */


/* #region DEBUG */

.debug #top {
    background-color: blue;
}

.debug #bottom {
    background-color: red;
    height: 100px;
}

.debug .sidebar {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.debug .sidebar_top {
    background-color: gray;
    height: 300px;
}

.debug .sidebar_bottom {
    background-color: rgb(119, 214, 72);
    height: 50px;
}


.debug .categories {
    background-color: aqua;
    overflow: auto;
}

.debug #header {
    background-color: #141922;
    height: 10vh;
    width: 82vw;
    position: fixed;
    
}

.debug .kind_nav {
    background-color: #C1C1C1;
    height: 50px;
}

.debug .recently_py, .debug .foryou {
    background-color: blue;
    margin: 1rem 1rem;
}

.debug .rw_top {
    background-color: violet;
    height: 50%;
    margin-top: 1rem;
}

.debug .wrap_col {
    height: calc(100vh - 100px);
    margin-top: 5rem;
}
/* #endregion DEBUG */

/* #region SIDEBAR */
.sidebar {
    background-color: var(--dark);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.sidebar_top img {
    width: 60%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.icons img {
    width: 10%;
    vertical-align: middle;
}

.icons span {
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.playlist {
    margin-top: 1rem;
}

.playlist h4 {
    color: var(--light);
}

.playlist i {
    font-size: 40px;
    color: var(--secondary-soft);
}

#header {
    position: fixed;
    display: flex;
    justify-content: end;
}

.rw_sidebar {
    display: flex;
    flex-direction: column;
}
/* #region PLAYER */
#bottom {
    background-color: var(--secondary);
    height: 60px;
}