/* common RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #141922;
    --secondary: #A3A3A3;
    --secondary-soft: #C1C1C1;
    --accent: #9AE22D;
    --dark: #000000;
    --light: #FFFFFF;
    
}

.row {
    display: flex;
    
}

.wrapper{
    height: 100vh;
}

#container {
    height: calc (100vh - 100px);
}


/* #region COLUMN */
.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: 100%;
}

/* #endregion COLUMN */


/* #region DEBUG */
    #top {
        background-color: blue;
    }

    #bottom {
        background-color: red;
        height: 100px;
    }

    .sidebar {
        background-color: pink;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar_top {
        background-color: gray;
        height: 300px;
    }
    
    .sidebar_bottom {
        background-color: rgb(119, 214, 72);
        height: 50px;
    }

    .categories {
        background-color: aqua;
        overflow: auto;
    }

    #header {
        background-color: #141922;
        height: 100px;
    }

    .kind_nav {
        background-color: #C1C1C1;
        height: 50px;
    }

    .recently_py, .foryou {
        background-color: blue;
        margin: 1rem 1rem;
    }

    .top {
        background-color: violet;
        height: 50%;
        margin-top: 1rem;
    }

/* #endregion DEBUG */